<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>swiftpkg-${version}-cli.pkg</string>
	<key>identifier</key>
	<string>com.codecarton.swiftpkg.cli.installer</string>
	<key>version</key>
	<string>0.3.1</string>
	<key>ownership</key>
	<string>recommended</string>
	<key>install_location</key>
	<string>/</string>
	<key>compression</key>
	<string>latest</string>
	<key>min-os-version</key>
	<string>13.0</string>
	<key>postinstall_action</key>
	<string>none</string>
	<key>preserve_xattr</key>
	<true/>
	<key>distribution_style</key>
	<true/>
	<key>title</key>
	<string>swiftpkg CLI ${version}</string>
	<key>product id</key>
	<string>com.codecarton.swiftpkg.cli</string>
	<key>signing_info</key>
	<dict>
		<key>identity</key>
		<string>__INSTALLER_SIGN_IDENTITY__</string>
		<key>timestamp</key>
		<true/>
	</dict>
	<key>notarization_info</key>
	<dict>
		<key>keychain_profile</key>
		<string>__NOTARY_PROFILE__</string>
		<key>staple_timeout</key>
		<integer>900</integer>
	</dict>
</dict>
</plist>
